<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="<%= asset_path 'hero/hero-1.jpg'%>">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>Sinopse lorem ipsum</p>
                                <a href="#"><span>Assista agora</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="<%= asset_path 'hero/hero-1.jpg'%>">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>Sinopse lorem ipsum</p>
                                <a href="#"><span>Assista agora</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="<%= asset_path 'hero/hero-1.jpg'%>">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                                <p>Sinopse lorem ipsum</p>
                                <a href="#"><span>Assista agora</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Em alta</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn"> Ver <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6"> Adiciona uma row inline apartir daqui
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="<%= asset_path 'trending/trend-1.jpg'%>">
                                        <div class="ep">Episódios 18 / 18</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Animes populares</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn"> Ver <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item"> 
                                    <div class="product__item__pic set-bg" data-setbg=<%= asset_path 'popular/popular-2.jpg' %>>
                                        <div class="ep">Episódios 18 / 18</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                        </ul>
                                        <h5><a href="#">Sen to Chihiro no Kamikakushi</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Uploads recentes</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">Ver <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="<%= asset_path 'recent/recent-1.jpg' %>">
                                        <div class="ep">Episódios 18 / 18</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                        </ul>
                                        <h5><a href="#">Great Teacher Onizuka</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Mais vistos</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Do dia</li>
                                <li data-filter=".week">Da semana</li>
                                <li data-filter=".month">Do mês</li>
                                <li data-filter=".years">Do ano</li>
                            </ul>
                            <div class="filter__gallery">
                                <div class="product__sidebar__view__item set-bg mix day years"
                                data-setbg="<%= asset_path 'sidebar/tv-1.jpg' %>">
                                <div class="ep">18 / ?</div>
                                <h5><a href="#">Boruto: Naruto next generations</a></h5>
                            </div>
                            <div class="product__sidebar__view__item set-bg mix month week"
                            data-setbg="<%= asset_path 'sidebar/tv-2.jpg' %>">
                            <div class="ep">18 / ?</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg mix week years"
                        data-setbg="<%= asset_path 'sidebar/tv-3.jpg' %>">
                        <div class="ep">18 / ?</div>
                        <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                    </div>
                    <div class="product__sidebar__view__item set-bg mix years month"
                    data-setbg="<%= asset_path 'sidebar/tv-4.jpg' %>">
                    <div class="ep">18 / ?</div>
                    <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                </div>
                <div class="product__sidebar__view__item set-bg mix day"
                data-setbg="<%= asset_path 'sidebar/tv-5.jpg' %>">
                <div class="ep">18 / ?</div>
                <h5><a href="#">Fate stay night unlimited blade works</a></h5>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="./index.html"><img src="<%= asset_path 'logo.png'%>" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="./index.html">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./blog.html">Our Blog</a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart" aria-hidden="true"></i></a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Faça sua busca.....">
        </form>
    </div>
</div>
<!-- Search model end -->
</body>
</html>