<!DOCTYPE html>
<html>
  <head>
    <title>Anime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Css Styles -->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome.css" %>
    <%= stylesheet_link_tag "elegant-icons.css" %>
    <%= stylesheet_link_tag "plyr.css" %>
    <%= stylesheet_link_tag "nice-select.css" %>
    <%= stylesheet_link_tag "owl.carousel.min.css" %>
    <%= stylesheet_link_tag "slicknav.min.css" %>
    <%= stylesheet_link_tag "style.css" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="<%= asset_path 'logo.png'%>" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="./index.html">Início</a></li>
                                <li><a href="./categories.html">Categorias <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Generos</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Lista de animes</a></li>
                                <li><a href="#">Mangás</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <%= yield %>

    <script src="<%= asset_path 'jquery-3.3.1.min.js'%>"></script>
    <script src="<%= asset_path 'bootstrap.min.js' %>"></script>
    <script src="<%= asset_path 'player.js' %> "></script>
    <script src="<%= asset_path 'jquery.nice-select.min.js'%>"></script>
    <script src="<%= asset_path 'mixitup.min.js' %>"></script>
    <script src="<%= asset_path 'jquery.slicknav.js' %>"></script>
    <script src="<%= asset_path 'owl.carousel.min.js'%>"></script>
    <script src="<%= asset_path 'main.js' %>"></script>
  </body>
</html>
